<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Pic Click</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="/js/jquery.min.js"></script>
<!-- //js -->
<!-- cart -->
	<script src="/js/simpleCart.min.js"> </script>
<!-- cart -->
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
<!-- for bootstrap working -->
	<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- animation-effect -->
<link href="/css/animate.min.css" rel="stylesheet"> 
<script src="/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="/">Pic Click <span>click & get</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>	
							<li><a href="/admin/pages">Pages</a></li>
							<li><a href="/admin/categories">Categories</a></li>
							<li><a href="/admin/products">Products</a></li>
						</ul>
					</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Edit A Product</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">edit your page</h3>
			<div class="login-form-grids">
				<h6 class="animated wow slideInUp" data-wow-delay=".5s">Page information</h6>
				<form method="post" class="animated wow slideInUp" data-wow-delay=".5s" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">
					<input type="text" name="title" placeholder="Title" value="<%= title %>" required=" " >
					<textarea name="desc" placeholder="Description" value="<%= desc %>" required=" " ></textarea>
                    <select name="category" id="country1" onchange="change_country(this.value)" class="frm-field required sect" style="margin-top: 30px;">
						<% categories.forEach(function(cat){ %>
							<option value="<%= cat.slug %>"
								<% if (cat.slug == category) { %>
								selected="selected"
								<% } %>        
								><%= cat.title %></option>
						<% }); %>						
					</select>
					<input type="text" name="price" style="margin-top: 30px;" placeholder="Price" value="<%= price %>" >
					<h6 class="animated wow slideInUp" >Current Image</h6>
					<p>
						<% if (image == "") { %>
						<img style="height: 100px; width: 100px;" id="noimage" src="/images/noimage.png" alt="">
						<% } else {%>
						<img style="height: 100px; width: 100px;" id="noimage" src="/product_images/<%= id %>/<%= image %>" alt="">
						<% } %>
					</p>
					<h6 class="animated wow slideInUp" >Upload New Image</h6>
					<input style="margin-top: 30px; color: #D8703F;" type="file" name="image" id="img">
					<img src="#" id="imgPreview" alt="">
					<input type="hidden" name="pimage" value="<%= image %>">
					<input type="submit" value="Submit">
				</form>
			</div>
			<h3 class="page-header">Gallery</h3>
			<ul class="gallery">
				<% galleryImages.forEach(function(image){ %>
				<% if (image != "thumbs") { %>
				<li>
					<img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="">&nbsp;
					<a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">delete</a>
				</li>
				<% } %>
				<% }); %>
			</ul>
			<form style="border: #D8703F; border-style: solid;" action="/admin/products/product-gallery/<%= id %>" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
				<div class="fallback">
					<input type="file" name="file" multiple>
					<input type="submit" value="Upload">
				</div>
			</form>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href="/admin/products">go back to all products</a>
			</div>
		</div>
	</div>
	
<!-- //register -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
			
				
				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="/">Pic Click <span>click & get</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>&copy 2016 Best Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>
    
    // Preview image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#img").change(function() {
        readURL(this);
    });
    
    // Dropzone
    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function() {
            this.on("queuecomplete", function(file) {
               setTimeout(function() {
                location.reload()
                }, 1000); 
            });
        }
    }
    
</script>
</body>
</html>